:root {
  --color-bg: #000000;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100svh;
}

canvas {
  touch-action: none;
}

.html-screen iframe {
  width: 102.4rem;
  height: 67rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--color-bg);
}

.iframe {
  opacity: 0;
}
